#form_graybox {
  background-color: #f4f4f4;
  width: 100%;
  border-bottom: 1px solid #929292;

  #form_contents {
    padding: 20px;
  }

  #form_flexbox {
    display: flex;
    flex-flow: wrap;
    grid-gap: 10px;
    justify-content: space-around;
  }

  .open,
  .closed {
    transition: max-height 0.5s ease;
    overflow: hidden;
  }

  .open {
    max-height: 100vh;
  }

  .closed {
    max-height: 0px;
  }

  #form_buttons_container {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 800px) {
  #form_graybox {
    position: fixed;
    top: 78px;
    left: 0px;
  }

  #form_contents {
    padding: 10px;
  }

  #form_flexbox {
    grid-gap: 0px;
  }

  #outcomes_container {
    padding-top: 78px;
  }
}
